#bio{
  font-family: 'Bitter', serif;
  font-size:3vw;
  padding-bottom:2vw;
  padding-left:1vw;
  padding-right:1vw;
  color:white;
}

#bio_box{
  margin:auto;
  ##width:35vw;
  border-radius: .5vw 3.5vw .5vw;
  margin-top: 8vw;
}

#bio_title{
  font-family:'Bebas Neue',cursive;
  font-size: 5vw;
  text-align:center;
}

.contact{
  font-family: 'Bitter', serif;
  font-size:3vw;
  text-decoration:none;
  color:white;
}

#contact_box{
  margin:auto;
  width:70vw;
  margin-top: 8vw;
}

.contact_link{
  font-family: 'Bitter', serif;
  font-size:3vw;
  text-decoration:none;
  color:white;
}

.contact_link:hover{
  color:#008CBA;
}

.contact_stuff{
  color:black;
  font-weight: bold;
}

#contact_title{
  font-family:'Bebas Neue',cursive;
  font-size: 5vw;
  text-align:center;
}

#contact_page{
  background-color:  	#FF4500
}

#discord{
  border-radius: 1vw;
  display:inline;
}

#home_page{
  background-color:  	#FF4500;
}

.links{
  text-decoration:none;

}

#me_page{
  background-color: 	#FF4500
}

#motto{
  text-align:left;
  font-size: 15vw;
  font-family:'Bebas Neue',cursive;
  padding-top:2vw;
}

#motto_background{
  background-image:cyan;
}

#nav_bar{
  text-align:right;
}
.container{
  position:relative;
  width: 35%;
  margin-left:auto;
  margin-right:auto;
}

.project_images{
  width: 100%;
  display:block;
  height:auto;

}

.overlay{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height: 100%;
  width:100%;
  opacity:0;
  transition:.5s ease;
  background-color: #008CBA;
}

.container:hover .overlay{
  opacity:1;
}

.text{
  color:white;
  font-family: 'Bitter', serif;
  font-size:1vw;
  position:absolute;
  top: 35%;
  left: 50%;
  width:100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.pages{
  text-decoration:none;
  font-family:'Bebas Neue',cursive;
  color:inherit;
  font-size: 2.4vw;
  padding-left: .5vw;
}

.pages:hover{
  color:white;
}

.projects{
  font-family: 'Bitter', serif;
  color:white;
  font-size: 2vw;
}

#project_box{
  margin-top: 8vw;
}

.project_caption{
  color:white;

}

#project_title{
  font-family:'Bebas Neue',cursive;
  font-size: 5vw;
  text-align:center;
}

.project_t{
  font-size:2.5vw;
}

#project_page{
  background-color: 	#FF4500
}

#title_change{
  color:white;
}
